@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

body {  
  -webkit-font-smoothing: antialiased;  
}

@media screen and (min-width: 1024px) {
  body {
    background-color: rgb(245 245 245);
  }
}

@layer utilities {
  .scrollbar-sideBar::-webkit-scrollbar {
    width: 5px;
  }
  .scrollbar-sideBar::-webkit-scrollbar-thumb {    
    border-radius: 100vh;
    background: #404040
  }  
  .scrollbar-pokemonList::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-pokemonList::-webkit-scrollbar-thumb {    
    border-radius: 10px;
    background: #CFCECE
  }  
}